body {
  margin: 0;
 
}

nav {
background-color: #4444bb;
padding: 5px;
}

nav li {
  display: inline-block;
}

.main-menu {
  display: flex;
  justify-content: space-between;
}

header {
 
}

span {
  color: white;
  font-size: 16px;
  font-family: sans-serif;
}

#account p {
  display: inline-block;
}

aside {
  border: 1px solid magenta;
}
  